<speek-toolbar>
  <a routerLink="/" mat-icon-button>
    <mat-icon>arrow_backward</mat-icon>
  </a>
  <span class="brand-name">vídeo</span>
</speek-toolbar>
<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>video_settings</mat-icon>
        <h3 mat-line>Vídeo</h3>
        <button type="button" mat-icon-button (click)="toggleVideo()">
          <mat-icon>
            {{ stream?.active ? 'videocam_off' : 'videocam' }}
          </mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <section>
      <video
        muted
        #video
        autoplay
        playsinline
        poster="/assets/images/logo.svg"
      ></video>
    </section>
    <mat-divider></mat-divider>
    <form [formGroup]="form">
      <mat-form-field
        color="accent"
        appearance="outline"
        formGroupName="devices"
      >
        <mat-label>Entrada de vídeo</mat-label>
        <mat-select
          formControlName="video"
          [compareWith]="compareFn"
          (selectionChange)="onDeviceChange($event.value)"
        >
          <mat-option value=""> Selecione um dispositivo </mat-option>
          <mat-option *ngFor="let d of devices$ | async" [value]="d">
            {{ d.label }}
          </mat-option>
        </mat-select>
        <mat-error>Selecione um dispositivo</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<button type="button" [disabled]="form.invalid" mat-fab (click)="onSave()">
  <mat-icon>check</mat-icon>
</button>
