<speek-toolbar>
  <a routerLink="/" aria-label="Home" mat-icon-button>
    <mat-icon svgIcon="speek-logo"></mat-icon>
  </a>
  <span class="brand-name">speek</span>
</speek-toolbar>

<mat-card>
  <mat-card-header>
    <h1 mat-card-subtitle>Como quer começar?</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <a mat-list-item routerLink="/create" aria-label="Iniciar conversa">Iniciar conversa</a>
      <a mat-list-item routerLink="/invite" aria-label="Acessar conversa">Acessar conversa</a>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Configurações</h3>
      <a mat-list-item routerLink="/voice" aria-label="Tom de voz">
        <mat-icon>settings_voice</mat-icon>
        <span>Áudio</span>
      </a>
      <a mat-list-item routerLink="/camera" aria-label="Câmera">
        <mat-icon>videocam</mat-icon>
        <span>Vídeo</span>
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>

<button mat-fab (click)="share()" aria-label="Compartilhar">
  <mat-icon>share</mat-icon>
</button>
