:host {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;

  position: relative;

  &::before {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('/assets/images/spheers.svg');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;

    background-size: 280%;
    // filter: blur(2px);
    opacity: 0.1;

    transition: filter 250ms ease-in-out, opacity 500ms ease-in-out,
    background-size 400ms ease-in-out;
  }
  &:hover::before {
    // filter: blur(0px);
    opacity: 0.2;
    background-size: 180%;
  }

  .mat-nav-list .mat-icon {
    margin-right: 12px;
  }

  .mat-form-field {
    width: 120px;
    position: absolute;
    visibility: hidden;
    transition: visibility 600ms ease-in-out;
    &.active {
      visibility: visible;
    }
  }

  .mat-fab {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
