<speek-toolbar>
  <a routerLink="/" aria-label="Home" mat-icon-button>
    <mat-icon svgIcon="speek-logo"></mat-icon>
  </a>
  <span class="brand-name">speek</span>
</speek-toolbar>

<mat-card>
  <mat-card-header>
    <h1 mat-card-subtitle>Como quer começar?</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <a mat-list-item routerLink="/create" aria-label="Iniciar conversa">
        <mat-icon>voice_chat</mat-icon>
        <span>Iniciar conversa</span>
      </a>
      <a mat-list-item routerLink="/invite" aria-label="Acessar conversa">
        <mat-icon>mark_chat_unread</mat-icon>
        <span>Acessar conversa</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/setting" aria-label="Configurações">
        <mat-icon>settings</mat-icon>
        <span>Configurações</span>
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>

<button mat-fab (click)="share()" aria-label="Compartilhar">
  <mat-icon>share</mat-icon>
</button>
