<speek-toolbar>
  <a routerLink="/" aria-label="Página inicial" mat-icon-button>
    <mat-icon svgIcon="speek-logo"></mat-icon>
  </a>
  <span class="brand-name">speek</span>
</speek-toolbar>

<section class="flex col justify-center">
  <h3 class="mat-h3">
    The most private way of chatting
  </h3>
  <button
    color="primary"
    mat-raised-button
    (click)="create()"
    aria-label="Iniciar conversa"
  >
    Create new private room
  </button>
</section>

<section class="flex col justify-center">
  <h2 class="mat-h2">OR</h2>
</section>

<form class="flex col justify-center" [formGroup]="form">
  <mat-form-field appearance="outline" color="primary">
    <mat-label>
      enter existing room key or link
    </mat-label>
    <input
      matInput
      autofocus
      type="text"
      name="code"
      cdkFocusInitial
      spellcheck="false"
      autocomplete="off"
      formControlName="code"
    />
    <mat-hint>
      provided by a host
    </mat-hint>
    <mat-error>
      your key doesn't work here
    </mat-error>
  </mat-form-field>
</form>


<!-- <button mat-fab (click)="share()" color="primary" aria-label="Compartilhar">
  <mat-icon>share</mat-icon>
</button> -->
