@use '@angular/material' as mat;
@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  .speek-container {
    // background: mat-color($background, app-bar);
    color: mat.get-color-from-palette($foreground, text);
  }
}
