<speek-drawer-shell>
  <main>
    <mat-toolbar>
      <a routerLink="/" mat-icon-button>
        <mat-icon svgIcon="speek-dark"></mat-icon>
      </a>
      <span class="spacer"></span>
      <!-- <button mat-icon-button (click)="drawerShell.toggle()">
        <mat-icon>menu_vert</mat-icon>
      </button> -->
    </mat-toolbar>
    <section
      [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path"
    >
      <router-outlet #o="outlet"></router-outlet>
    </section>
    <speek-navbar></speek-navbar>
  </main>
</speek-drawer-shell>
