<main [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</main>

<!-- <speek-drawer>
  <section class="app-sidenav">
    <h1>Opa</h1>
    <h3>Guenta aí</h3>
    <p>
      Aqui ficarão configurações úteis durante a reunião, um chat por texto e
      transferência de arquivos.
    </p>
    <p class="mat-hint">Só mais um pouquinho <kbd>;)</kbd></p>
    <p>Tem alguma sugestão? me conta?</p>
    <h3 class="mat-h3">email@guiseek.dev</h3>
    <p class="mat-hint">Thx</p>
  </section> -->
<!-- </speek-drawer> -->
