@import '~@angular/material/theming';
@import 'app/app.theme.scss';
@import 'theming/palette';
@import 'components';
@import 'animtions';

@include mat-core();

$client-primary: mat-palette($speek-black);
$client-accent: mat-palette($mat-cyan);
$client-warn: mat-palette($mat-red);

$peek-typography: mat-typography-config(
  $font-family: '"Montserrat", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);
@include angular-material-typography($peek-typography);

$client-theme: mat-dark-theme(
  (
    color: (
      primary: $client-primary,
      accent: $client-accent,
      warn: $client-warn,
    ),
  )
);

@include angular-material-theme($client-theme);
@include app-theme($client-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
body .mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.6);
}
body .mat-drawer-content {
  overflow: unset;
}
body .mat-fab.mat-accent {
  color: black;
}

// body speek-root main {
//   position: relative;

//   &::before {
//     content: ' ';
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     background-image: url('/assets/images/spheers.svg');
//     background-position-x: center;
//     background-position-y: center;
//     background-repeat: no-repeat;
//     background-size: 400%;
//     filter: blur(10px);
//     opacity: 0;
//     transition: filter 250ms ease-in-out, opacity 500ms ease-in-out,
//       background-size 400ms ease-in-out;
//   }
// }
// body.spheers speek-root section::before {
//   filter: blur(0px);
//   opacity: 0.2;
//   background-size: 180%;
// }
.spacer {
  flex: 1 1 auto;
}
.headers-align {
  .mat-expansion-panel-header-title {
    justify-content: space-between;
    align-items: center;
  }
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }
  &.col {
    flex-direction: column;
  }
  > .full {
    flex: 1;
  }

  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: space-between;
  }

  &.center-center {
    align-items: center;
    justify-content: space-between;
  }
}

.mat-form-field {
  width: 100%;
}
