<speek-toolbar>
  <a routerLink="/" aria-label="Home" mat-icon-button>
    <mat-icon>arrow_backward</mat-icon>
  </a>
  <span class="brand-name truncate">{{ code }}</span>
</speek-toolbar>

<video class="remote" #remote autoplay playsinline muted></video>

<mat-card>
  <video class="local" #local autoplay playsinline muted></video>

  <mat-card-actions>
    <button mat-button (click)="toggleAudio()">
      <mat-icon>{{ (audio | async) ? 'mic' : 'mic_off' }}</mat-icon>
    </button>
    <button mat-button (click)="toggleVideo()">
      <mat-icon>{{ (video | async) ? 'videocam' : 'videocam_off' }}</mat-icon>
    </button>
    <button mat-button (click)="drawer.toggle()">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<ng-container *ngIf="(onState | async) != 'stable'">
  <speek-splash></speek-splash>
</ng-container>

<button
  mat-fab
  [disabled]="(onState | async) != 'stable'"
  (click)="hangup()"
  class="call-end"
  color="warn"
>
  <mat-icon>call_end</mat-icon>
</button>
