<mat-toolbar>
  <a routerLink="/" aria-label="Página inicial">
    <!-- <mat-icon svgIcon="speek-logo"></mat-icon> -->
    <img src="/assets/images/logo.svg" alt="Speek" />
  </a>
  <span class="spacer"></span>
  <span class="brand-name">speek</span>
  <span class="spacer"></span>
  <button routerLink="/setting" aria-label="Configurações" mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<section class="flex col justify-center">
  <h3 class="mat-h3">
    Sua maneira mais privada de conversar
    <!-- The most private way of chatting -->
  </h3>
  <button
    color="primary"
    mat-raised-button
    (click)="create()"
    aria-label="Iniciar conversa"
  >
    Criar uma nova sala privada
    <!-- Create new private room -->
  </button>
</section>

<section class="flex col justify-center">
  <h3 class="mat-h3">
    Você pode apenas falar também
    <!-- The most private way of chatting -->
  </h3>
  <button
    color="primary"
    mat-raised-button
    (click)="create('voice')"
    aria-label="Iniciar conversa"
  >
    Faça uma ligação por voz
    <!-- Create new private room -->
  </button>
</section>

<section class="flex col justify-center">
  <h2 class="mat-h2">
    OU
    <!-- OR -->
  </h2>
</section>

<!-- <form class="flex col justify-center" [formGroup]="form"> -->
<div class="flex col justify-center">
  <mat-form-field appearance="outline" color="primary">
    <mat-label>
      insira a chave ou link existente
      <!-- enter existing room key or link -->
    </mat-label>
    <input
      matInput
      autofocus
      type="text"
      name="code"
      spellcheck="false"
      autocomplete="off"
      [formControl]="code"
    />
    <mat-hint>
      fornecido por um anfitrião
      <!-- provided by a host -->
    </mat-hint>
    <mat-error>
      sua chave não funciona aqui
      <!-- your key doesn't work here -->
    </mat-error>
  </mat-form-field>
</div>
<!-- </form> -->
