:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  z-index: 1;

  .mat-toolbar {
    background-color: transparent;
    margin-bottom: 24px;
    position: fixed;
    top: 0;
    a {
      height: 32px;
      img {
        display: inline-flex;
        height: inherit;
      }
    }
  }

  &::before,
  &::after {
    z-index: -10;
  }

  &::before {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('/assets/images/go-ahead.svg');
    background-position-x: 60%;
    background-position-y: 140%;
    background-repeat: no-repeat;
    background-size: 250%;
    transition: opacity 350ms ease-in-out, background-size 400ms ease;
    opacity: 0.2;
  }

  .mat-toolbar + section {
    margin-top: 24px;
  }

  position: relative;

  form {
    display: inline-flex;
  }

  .mat-form-field {
    width: 300px;
  }

  // &::after {
  //   content: ' ';
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   background-image: url('/assets/images/network.svg');
  //   background-position-x: center;
  //   background-position-y: bottom;
  //   background-repeat: no-repeat;
  //   background-size: 125%;
  //   opacity: 0.02;

  //   transition: opacity 350ms ease-in-out, background-size 400ms ease;
  // }
}
