@import '../../../theming/mixins';

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mat-card {
    width: 400px;
    margin: 10px;

    &-content {
      margin: 10px;
    }
  }

  video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  //   @include respond-to('small') {
  //   button {
  //     margin: 0 11px 10px 0;
  //   }

  //   video.local {
  //     height: 180px;
  //     width: auto;
  //   }
  // }
}
