<speek-toolbar>
  <a routerLink="/" mat-icon-button>
    <mat-icon>arrow_backward</mat-icon>
  </a>
  <span class="brand-name">convidado</span>
</speek-toolbar>

<ng-container *ngIf="code.valid">
  <speek-door [comeInOut]="comeInOut" [opened]="code.valid"></speek-door>
</ng-container>

<mat-card>
  <mat-card-content>
    <canvas #canvas></canvas>

    <mat-divider></mat-divider>

    <mat-list>
      <h3 mat-subheader> Arraste para ajustar o tom da sua voz </h3>
    </mat-list>
    <form [formGroup]="form">
      <mat-slider
        min="-1"
        max="2"
        step="0.1"
        thumbLabel
        formControlName="pitch"
      ></mat-slider>
    </form>

    <mat-divider></mat-divider>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Entre com o código</mat-label>
      <input matInput autofocus cdkFocusInitial [formControl]="code" />
      <mat-hint>Códgo de acesso</mat-hint>
      <mat-error>Código inválido</mat-error>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<button type="button" [disabled]="code.invalid" mat-fab (click)="onSubmit()">
  <mat-icon>phone_forwarded</mat-icon>
</button>
