<speek-toolbar>
  <a routerLink="/" mat-icon-button tabindex="-1">
    <mat-icon>arrow_backward</mat-icon>
  </a>
  <span class="brand-name">convidado</span>
</speek-toolbar>

<ng-container *ngIf="form.valid">
  <speek-door [comeInOut]="comeInOut" [opened]="form.valid"></speek-door>
</ng-container>

<mat-card>
  <form [formGroup]="form">
    <mat-card-content>
      <mat-list>
        <h3 mat-subheader>Arraste para ajustar o tom da sua voz</h3>
      </mat-list>

      <mat-divider></mat-divider>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Entre com a chave da reunião</mat-label>
        <input matInput autofocus cdkFocusInitial tabindex="0" formControlName="code" />
        <mat-hint>Caso não tenha, peça ao seu anfitrião</mat-hint>
        <mat-error>Código inválido</mat-error>
      </mat-form-field>
    </mat-card-content>
  </form>
</mat-card>

<button type="button" [disabled]="form.invalid" mat-fab (click)="onSubmit()">
  <mat-icon>phone_forwarded</mat-icon>
</button>
