<speek-toolbar>
  <a routerLink="/" aria-label="Página inicial" mat-icon-button tabindex="-1">
    <mat-icon>arrow_backward</mat-icon>
  </a>
  <span class="brand-name">convidado</span>
</speek-toolbar>

<speek-door [opened]="comeInOut | async"></speek-door>

<mat-card [ngClass]="{ hide: comeInOut | async }">
  <form [formGroup]="form">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Entre com a chave da reunião</mat-label>
      <input
        matInput
        autofocus
        type="text"
        name="code"
        cdkFocusInitial
        spellcheck="false"
        autocomplete="off"
        formControlName="code"
      />
      <mat-hint>Caso não tenha, peça ao seu anfitrião</mat-hint>
      <mat-error>Chave inválida</mat-error>
    </mat-form-field>
  </form>
</mat-card>
