:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #191919;
  .brand-name {
    opacity: 0.5;
  }

  .meeting-room {
    height: 100%;
    position: relative;
    speek-lamp,
    video {
      position: absolute;
    }
  }
  video {
    flex: 1;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: top;
  }

  .mat-card {
    border-top-left-radius: 12px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    min-width: 200px;
    max-width: 260px;
    width: 25%;
    bottom: 24px;
    right: 0px;
    z-index: 2;
    video {
      width: 100%;
    }
    video.remote {
      object-fit: cover;
    }
    &-actions {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      &:last-child {
        margin-bottom: 0px;
      }
      padding-bottom: 0;
      .mat-button-base {
        flex: 1;
        padding: 3px;
      }
    }
  }

  .call-end {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .room-code {
    position: absolute;
    right: 4px;
    bottom: 4px;
    opacity: 0.3;
  }
}
