@import 'libs/ui/stylesheets/src/mixins';

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .brand-name {
    opacity: 0.5;
  }

  audio {
    flex: 1;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: top;
  }

  .meeting-room {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    audio {
      position: absolute;
    }
  }

  .speek-box {
    position: relative;
  }
  .mat-card {
    position: absolute;
    bottom: 28px;
    right: 0;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    min-width: 200px;
    max-width: 240px;
    overflow: hidden;
    width: 25%;
    padding: 0;
    z-index: 2;
    opacity: 1;
    transition: opacity 800ms ease-out;
    > svg {
      z-index: 10;
      position: inherit;
      filter: invert(1);
      top: 2px;
      right: 2px;
    }
    &.enabled {
      audio {
        max-height: 154px;
        object-fit: cover;
        -webkit-animation: swing-in-bottom-fwd 0.5s
          cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
        animation: swing-in-bottom-fwd 0.5s
          cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
      }
    }
    &.disabled {
      opacity: 0.2;
      audio {
        -webkit-animation: swing-out-bottom-bck 0.45s
          cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
        animation: swing-out-bottom-bck 0.45s
          cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
      }
    }
    audio {
      width: 100%;
    }

    &-actions {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      &:last-child {
        margin-bottom: 0px;
      }
      padding-bottom: 0;
      .mat-button-base {
        flex: 1;
        padding: 3px;

        @include media('<=tablet') {
          &:last-child {
            padding-right: 24px;
          }
        }
      }
    }
  }
  .call-end {
    position: absolute;
    bottom: 24px;
    left: 20px;
    opacity: 0.8;
  }
  .meet-code {
    position: absolute;
    right: 4px;
    bottom: 4px;
    opacity: 0.2;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-21 19:9:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-bottom-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-21 19:9:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-out-bottom-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-out-bottom-bck {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
}
@keyframes swing-out-bottom-bck {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
}
