<section>
  <video
    muted
    #video
    autoplay
    playsinline
    poster="/assets/images/speek-light.svg"
  ></video>
</section>
<mat-divider></mat-divider>
<mat-list>
  <h3 mat-subheader>Ative ou desative o preview de vídeo</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>video_settings</mat-icon>
    <h3 mat-line>Vídeo</h3>
    <button
      type="button"
      mat-icon-button
      [disabled]="!form.video.value"
      (click)="toggleVideo()"
    >
      <mat-icon>
        {{ stream?.active ? 'videocam' : 'videocam_off' }}
      </mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<form [formGroup]="form">
  <mat-form-field color="accent" appearance="outline">
    <mat-select
      placeholder="Selecione um dispositivo"
      formControlName="video"
      [compareWith]="compareFn"
      (selectionChange)="onDeviceChange($event.value)"
    >
      <mat-option value=""> Selecione um dispositivo </mat-option>
      <mat-option *ngFor="let d of devices$ | async" [value]="d">
        {{ d.label }}
      </mat-option>
    </mat-select>
    <mat-hint>Esta será sua câmera</mat-hint>
    <mat-error>Selecione um dispositivo</mat-error>
  </mat-form-field>
</form>
