:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mat-card {
    display: flex;
    flex-direction: column;
    form {
      display: flex;
      flex-direction: column;
      position: relative;
      .mat-divider {
        position: unset;
      }
      .mat-list.mat-list-base {
        padding-top: 0px;
      }
      > section {
        display: flex;
        align-items: center;
        padding: 0 10px;
        span {
          letter-spacing: 2px;
          display: inline-flex;
        }
        .mat-slider {
          flex: 1;
        }
      }
    }
  }
  .mat-form-field {
    bottom: 0;
    width: 300px;
    margin: 10px;
  }

  .mat-fab {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
