<speek-toolbar>
  <a routerLink="/" mat-icon-button>
    <mat-icon>arrow_backward</mat-icon>
  </a>
  <span class="brand-name">começar</span>
</speek-toolbar>

<speek-door [comeInOut]="comeInOut" [opened]="code.valid"></speek-door>

<mat-card [ngClass]="{ hide: enter }">
  <form [formGroup]="form">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Qual será o código chave?</mat-label>
      <input
        matInput
        autofocus
        type="text"
        name="code"
        cdkFocusInitial
        spellcheck="false"
        formControlName="code"
      />
      <mat-hint>Clique ao lado para copiar o código</mat-hint>
      <button matPrefix type="button" mat-icon-button (click)="onAutofix()">
        <mat-icon
          #autoFix="matTooltip"
          matTooltip="Gerar código"
          matTooltipPosition="above"
        >
          auto_fix_high
        </mat-icon>
      </button>
      <button
        matSuffix
        type="button"
        mat-icon-button
        (click)="onCopy(tip)"
        [cdkCopyToClipboard]="url"
      >
        <mat-icon
          #tip="matTooltip"
          matTooltip="Copiar código"
          matTooltipPosition="above"
        >
          content_copy
        </mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-card>

<button type="button" mat-fab (click)="onLogin()">
  <mat-icon>login</mat-icon>
</button>

<!-- <mat-form-field [ngClass]="{ active: (comeInOut | async) }">
  <input type="text" matInput [formControl]="code" />
</mat-form-field>

<button type="button" mat-button (click)="comeInOut.next(!comeInOut.value)">
  {{ (comeInOut | async) ? 'Sair' : 'Entrar' }}
</button> -->
