:host {
  display: flex;
  flex-direction: column;
  height: 390px;
  form {
    display: flex;
    flex-direction: column;
    position: relative;
    .mat-divider {
      position: unset;
    }
    .mat-list.mat-list-base {
      padding-top: 0px;
    }

    > section {
      display: flex;
      align-items: center;
      padding: 0 10px;
      span {
        letter-spacing: 2px;
        display: inline-flex;
      }
      .mat-slider {
        flex: 1;
      }
    }
    > section + .mat-list .mat-subheader {
      margin-top: -20px;
    }
    .mat-form-field {
      bottom: 0;
      width: 300px;
      margin: 10px;
    }
  }
}
