<speek-dial-pad (onClick)="onClicked($event)"></speek-dial-pad>

<form [formGroup]="form">
  <div id="dtmf">
    <mat-form-field>
      <mat-label>Sent tones</mat-label>
      <input type="text" matInput formControlName="sendTones" />
    </mat-form-field>
    <audio #localAudio autoplay="autoplay"></audio>
  </div>
  <div id="parameters">
    <section>
      <mat-label>Duration</mat-label>
      <mat-slider
        [max]="6000"
        [min]="70"
        [step]="10"
        thumbLabel
        [formGroup]="duration"
      >
      </mat-slider>
    </section>
    <section>
      <mat-label>Gap</mat-label>
      <mat-slider
        [max]="1000"
        [min]="50"
        [step]="50"
        thumbLabel
        [formGroup]="gap"
      >
      </mat-slider>
    </section>
    <mat-form-field>
      <mat-label>Tones</mat-label>
      <input type="text" matInput formControlName="tones" readonly />
    </mat-form-field>
  </div>
</form>
<pre>{{ gap.value | json }}</pre>
<div id="buttons">
  <button mat-stroked-button color="accent" id="callButton" (click)="call()">
    Call
  </button>
  <button mat-stroked-button id="sendTonesButton" (click)="sendTones()">
    Send tones
  </button>
  <button mat-button color="warn" id="hangupButton">Hang up</button>
</div>
