<speek-toolbar>
  <a routerLink="/" aria-label="Home" mat-icon-button>
    <mat-icon svgIcon="speek-logo"></mat-icon>
  </a>
  <span class="brand-name">speek</span>
</speek-toolbar>

<mat-card>
  <mat-card-header>
    <h1 mat-card-subtitle>Como quer começar?</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <h2 mat-subheader>Conversando</h2>
      <a mat-list-item routerLink="/create" aria-label="Criar sala">Criar uma sala</a>
      <a mat-list-item routerLink="/invite" aria-label="Sou convidado">Sou convidado</a>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Configurando</h3>
      <a mat-list-item routerLink="/voice" aria-label="Tom de voz">
        <mat-icon>settings_voice</mat-icon>
        <span>Tom de voz</span>
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>

<button mat-fab (click)="share()" aria-label="Compartilhar">
  <mat-icon>share</mat-icon>
</button>
