<mat-grid-list
  cols="4"
  rowHeight="fit"
  [gutterSize]="'1px'"
  [style.height]="'100px'"
>
  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="1" [rowspan]="1">
  </mat-grid-tile>
</mat-grid-list>
<!-- <figure>
  <img src="assets/images/network-dark.svg" alt="Network">
</figure> -->

<!-- <speek-wave></speek-wave> -->
<!-- <mat-horizontal-stepper #stepper labelPosition="bottom" color="accent">
  <mat-step [stepControl]="videoGroup" label="Vídeo" state="video">
    <form [formGroup]="videoGroup">
      <p>Câmera</p>
      <mat-checkbox formControlName="video">Habilitar vídeo</mat-checkbox>

    </form>

    <pre>{{ videoGroup.value | json }}</pre>

    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Áudio" state="audio">
    <div>
      <speek-wave></speek-wave>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Ação" state="action">
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

  <ng-template matStepperIcon="video">
    <mat-icon>videocam</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="audio">
    <mat-icon>mic</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="action">
    <mat-icon>movie</mat-icon>
  </ng-template>
</mat-horizontal-stepper> -->

<!-- <speek-wave></speek-wave> -->
