:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  align-items: center;
  justify-content: space-evenly;

  .mat-nav-list .mat-icon {
    margin-right: 12px;
  }

  .mat-form-field {
    width: 120px;
    position: absolute;
    visibility: hidden;
    transition: visibility 600ms ease-in-out;
    &.active {
      visibility: visible;
    }
  }

  .mat-fab {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

}
