<speek-toolbar>
  <a routerLink="/" mat-icon-button>
    <mat-icon>arrow_backward</mat-icon>
  </a>
  <span class="brand-name">começar</span>
</speek-toolbar>

<speek-door [opened]="comeInOut | async"></speek-door>

<mat-card [ngClass]="{ hide: comeInOut | async }">
  <form [formGroup]="form">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Copie sua chave clicando ao lado</mat-label>
      <input
        matInput
        autofocus
        type="text"
        name="code"
        cdkFocusInitial
        spellcheck="false"
        formControlName="code"
      />
      <mat-hint>Você precisa copiar a chave antes de entrar</mat-hint>
      <button
        matSuffix
        type="button"
        mat-icon-button
        (click)="onCopy(tip)"
        [cdkCopyToClipboard]="url"
      >
        <mat-icon
          #tip="matTooltip"
          matTooltip="Copiar chave"
          matTooltipPosition="above"
        >
          content_copy
        </mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-card>
