$background: #191919;

$speek-black: (
  50: #e5e5e5,
  100: #bfbfbf,
  200: #949494,
  300: #696969,
  400: #494949,
  500: #292929,
  600: #242424,
  700: #1f1f1f,
  800: #191919,
  900: #0f0f0f,
  A100: #ee6767,
  A200: #e93a3a,
  A400: #f00000,
  A700: #d60000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$speek-purple: (
  50: #f7f0ff,
  100: #ebdbfe,
  200: #ddc3fe,
  300: #cfaafd,
  400: #c598fc,
  500: #bb86fc,
  600: #b57efc,
  700: #ac73fb,
  800: #a469fb,
  900: #9656fa,
  A100: #ffffff,
  A200: #ffffff,
  A400: #f9f6ff,
  A700: #e9dcff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
