:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dial-button {
  grid-area: button;
}
.dial-pad {
  display: grid;
  grid-template-columns: 64px 64px 64px;
  grid-template-rows: 64px 64px 64px;
  grid-template-areas:
    'button button button'
    'button button button'
    'button button button'
    'button button button';

  > label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ::ng-deep .mat-button-base {
    > .mat-button-wrapper {
      font-size: 20px;
    }
  }
}
